@font-face {
    font-family: "myNorseFont";
    src: url("fonts/Norsebold.otf") format("opentype");
}

.container {
    display: flex;
    min-height: 100vh;
    min-width : 100vw;
}

.leaf-image {
    width : 100%;
    height : 100%;
    object-fit: cover;
}

.left-div {
    width : 30%;
    position: relative;
    height: 100vh;
    overflow: hidden;
    
}

.overlay {
    position: absolute;
    top : 20%;
    left : 0;
    width : 92%;
    height : 10%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding : 10px 40px;
    color: white;
    z-index : 2;
    justify-content: center;
    font-family: "myNorseFont", sans-serif;
    font-size: 70px;
}

.overlay img {
    height : 80px;
    width : auto

}

.form-div {
    flex : 1;
    padding: 60px 370px 90px 50px;
    
}

.special-line {
    margin-top: 60px;
}

.form-elements {
    display : flex;
    flex-direction: column;
    max-width: 60%;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 20px;
}

button {
    margin-top: 100px;
    background-color: #596D48;
    color: white;
    padding: 15px 55px;
    font-size: large;
    border-radius: 8px;
    box-shadow: inset;
}